
html,
body {
  direction: rtl; 
  font-family: "Tahoma", sans-serif;
  text-align: right;
}
.layout {
  display: flow-root;
  height: 100vh;
}
.main {
  /* margin-right: 250px;  */
  /* margin-top: 64px;  */
  flex: 1;
  padding: 20px;
  background: var(--colorBgContainer);
  border-radius: var(--borderRadiusLG);
}
/* .header {
  display: flex;
  background: var(--colorBgContainer);

} */

.sider {
  display: flex;
  flex-direction: column;
  /* background: var(--colorBgContainer); */
  /* width: 250px; */
  position: absolute;
  top: 0px; 
  /* right: 0; */
  bottom: 0;

}
.ant-menu {
  text-align: right;
}
.ant-layout-header {
  padding: 0;
  background: var(--colorBgContainer);
}
.ant-btn {
  font-size: 16px;
  width: 64px;
  height: 64px;
}
.content {

  display: flex;
  flex-direction: column;
  min-height: 200px;
   width:86%;
   margin-right: 205px;
 padding: 15px;  
}
.divider{
  font-size: 10px;
}


h2 {
  font-size: 24px;
  font-weight: bold;
}
.brand {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  justify-items: center;
  left: 20px;
  top: 5px;
  gap: 26px;
  font-size: large;
}
.Avatar{
  display: flex;
  flex-direction: row;
}
.dark-mode {
  background-color: #000;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.dark-mode .sider {
  background-color: #001529;
}

.dark-mode .content {
  background-color: #4f4343;
}


